dist: trusty

language: python

python:
  - "3.5"

env:
  CC=gcc-7 CXX=g++-7

cache:
  apt: true

addons:
  apt:
    packages:
      - cmake
      - g++-7
    sources:
      - ubuntu-toolchain-r-test

install:
  - wget https://github.com/catchorg/Catch2/releases/download/v2.4.1/catch.hpp -P symbsat-cpp/tests
  - pip install -U pip setuptools
  - pip install flake8
  - pip install coverage

script:
  - make coverage-py
  - make tests-cpp

after_success:
  - (cd symbsat-cpp && bash <(curl -s https://codecov.io/bash))
