sudo: required
dist: trusty

language: python

python:
  - "3.4"

cache:
  apt: true

addons:
  apt:
    packages:
      - cmake
      - libcppunit-dev

script:
  - (cd symbsat-py && python -m unittest tests/test_*.py)
  - "(
      mkdir build &&
      cd build &&
      cmake ../symbsat-cpp &&
      make &&
      tests/unittest
  )"
